<header>
    <p align="right">MyBake &nbsp
        <a href = '{%url "home"%}' style = "text-decoration: none">Home &nbsp</a>
        <a href = '{%url "about" %}' style = "text-decoration: none">About &nbsp</a> 
        <a href = '{%url "events"%}' style = "text-decoration: none">Events &nbsp</a>
        <a href = '{%url "SignUp"%}' style = "text-decoration: none">SignUp &nbsp</a>
        {% if user.is_authenticated %}
            <a href = '{%url "logout"%}' style = "text-decoration: none">Log Out</a></p>
        {% else %}
            <a href = '{%url "login"%}' style = "text-decoration: none">Log In</a>
        {% endif %}
</header>

{% block content %}
{% endblock content %}

<footer>
    <p>Insert Footer Info Here</p>
</footer>
